body {
    --primary: #fe5e41;
    --secondary: #d8f1a0;
    background-color: var(--secondary);
    font-family: sans-serif;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .btn {
    background-color: var(--primary);
    border: 5px solid white;
    border-radius: 15px;
    color: white;
    height: 50px;
    min-width: 100px;
    padding: 10px;
  }
  
  .player {
    color: var(--primary);
  }
  
  .move {
    align-items: center;
    background-color: var(--primary);
    border: 5px solid white;
    border-radius: 15px;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
    margin: 10px;
    padding: 30px 0;
    width: 200px;
  }
  
  .move__img {
    height: auto;
    width: 70%;
  }
  
  .outcome {
    color: var(--primary);
    font-size: 2em;
  }
  